<h1 class="heading">
  <%- include('../toggle') %>
  <%- title %>

  <ul class="basic fixed menu">
    <li><button class="small button">Settings</button></li>
  </ul>
</h1>

<section class="section">
  <div class="content">
    <form class="form" action="<%- action %>" method="post" enctype="multipart/form-data" data-autosave="true" novalidate>
      <% for (const { _name: fieldName } of record.template.sortedFields) { %>
        <%- Form.field(`content[${fieldName}]`, fieldName, template.fields[fieldName], record.content[fieldName], errors.hasOwnProperty(fieldName) && errors[fieldName]) %>
      <% } %>

      <div class="submit field" style="overflow: hidden;">
        <input type="hidden" name="_csrf" value="<%- csrf %>">
        <input class="button floated right" type="submit" value="Save">
        <% if (template.type === 'collection' || template.type === 'page') { %>
          <a href="/dashboard/<%- template.type %>/<%- template.name %>/records/<%- record.id %>/delete" class="floated left basic red button">Delete</a>
        <% } %>
      </div>
    </form>
  </div> 
</section>
