<h1 class="heading">
  <%- include('../toggle') %>
  <%- title %>

  <% if (!isNewRecord && (template.type === 'page' || template.type === 'collection') && template.hasView) { %>
    <ul class="basic fixed menu">
      <li><button class="small button" id="page-settings">Settings</button></li>
    </ul>
  <% } %>
</h1>

<section class="section">
  <form class="form" action="<%- action %>" method="post" enctype="multipart/form-data" data-autosave="true" novalidate>
    <% if (template.hasView) { %>
      <section class="metadata <%- isNewRecord ? 'open' : '' %>">
        <div class="content">
          <h3>Page Settings</h3>
          <div class="metadata__split-section">
            <%- Form.field(`metadata[name]`, 'name', {
              placeholder: record && record.defaultName,
              required: false,
              help: 'Human readable name used for site navigation.'
            }, (record) ? record.metadata.name : '', errors.hasOwnProperty('metadata[name]') && errors['metadata[name]'], { pages }) %>
            <%- Form.field(`metadata[slug]`, 'slug', {
              placeholder: record && record.defaultSlug,
              required: false,
              help: 'The URL where this page can be found.'
            }, record && record.metadata.slug, errors.slug, { pages }) %>
            <%- Form.field(`metadata[title]`, 'title', {
              placeholder: record && record.defaultTitle,
              required: false,
              help: "This page's title, as will appear in search results."
            }, record && record.metadata.title, errors.title, { pages }) %>
            <%- Form.field(`metadata[description]`, 'description', {
              placeholder: record && record.defaultDescription,
              required: false,
              help: "This page's description, as will appear in search results."
            }, record && record.metadata.description, errors.description, { pages }) %>
            <%- Form.field(`metadata[redirectUrl]`, 'redirectUrl', {
              placeholder: record && record.redirectUrl,
              required: false,
              help: "Redirect this page to a new location."
            }, record && record.metadata.redirectUrl, errors.redirectUrl, { pages }) %>
          </div>
        </div>
      </section>
    <% } %>
    <div class="content">
      <% if (template.hasFields) { %>
        <% for (const { _name: fieldName } of template.sortedFields) { %>
          <%- Form.field(`content[${fieldName}]`, fieldName, template.fields[fieldName], record ? record.content[fieldName] : '', errors.content && errors.content[fieldName], { pages }) %>
        <% } %>

      <% } else { %>
        <div class="content">
          <p>This template has no fields. View the <a href="https://docs.vapid.com" title="Vapid documentation">documentation</a> if you need help creating some.</p>
        </div>
      <% } %>

      <div class="submit field" style="overflow: hidden;">
        <input class="button floated right" type="submit" value="<%- template.type === 'form' ?'Submit' : 'Save' %>">
        <% if (!isNewRecord && (template.type === 'collection' || template.type === 'page')) { %>
          <a href="<%- deletePath %>" class="floated left basic red button">Delete</a>
        <% } %>

        <input type="hidden" name="_csrf" value="<%- csrf %>">
        <% if (template.type === 'form') { %>
          <input type="hidden" name="_subject" value="<%- subject %>" />
          <input type="hidden" name="_next" value="<%- next %>" />
          <input type="text" name="_gotcha" style="display:none">
        <% } %>
      </div>

      <% if (template.type === 'form') { %>
        <br>
        <p><em>Note: This preview form may not resemble the one rendered on your site.</em></p>
      <% } %>
    </div>
  </form>
</section>
