<div class="heading">
  <%- include('../toggle') %>
  <%- title %>
  
  <ul class="basic fixed menu">
    <li><a href="/dashboard/<%- template.typePlural %>/<%- template.name %>/records/new" class="small button">New <%- template.labelSingular %></a></li>
  </ul>
</div>

<section class="section">
  <div class="wide content">
    <table class="preview table <%- tableAction %>">
      <thead>
        <tr>
          <% template.tableColumnsHeaders.forEach(header => { %>
          <th><%- header %></th>
          <% }) %>
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        <% template.records.forEach(record => { %>
        <tr data-id="<%- record.id %>">
          <% template.tableColumns.forEach(key => { %>
          <td><%- record.previewContent(key.toLowerCase(), template) %></td>
          <% }) %>
          <td class="right aligned">
            <a href="/dashboard/<%- template.typePlural %>/<%- template.name %>/records/<%- record.id %>" class="small basic button">
              Edit
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table> 
  </div>
</section>
